.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid transparent;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.thumb:hover {
  transform: scale(1.05);
}

.thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
